body {
	margin:0px;
	padding:0px;
	font-family: Tahoma, Geneva, sans-serif;
}
a {
	text-decoration: none;
   }
ul{
	padding:0px;
	margin:0px;
	list-style-type: none;
   }
.logo{
	font-size:54pt;
	padding:0px;
	height:180px;
	line-height:180px;
}
.logo-color{
	color:#4bcaff;
}
.menu-top{
	font-size:20px;
	clear:both;
	margin:0px auto 50px;
	/* padding:0px; */
	width:1280px;
	height:70px;
	text-align:center;
	background-color:#35444f;
}
.menu-top li{
	/* border-left: 1px solid #35444f;
	border-right: 1px solid #35444f; */
	display:inline-block;
}
.menu-top li:hover{
	background-color:#222f3a;
	border-left: 1px solid white;
	border-right: 1px solid white;
}
.menu-top li a{
	line-height:70px;
	padding:0px 20px;
	/* text-decoration: none; */
	font-family: sans-serif;
	color: white;
}
.content{
	margin:0px;
	padding:0px;
}
.menu-left{
	width:300px;
	float:left;
	margin:0px;
	padding:0px;
	border:1px solid black;
}
.menu-left li a{
	display:block;
	font-size:20px;
	line-height:70px;
	padding-left:40px;
}
.menu-left li a:hover {
	padding-left:70px;
	background-color:#dbdbdb;
	color:black;
}
.menu-left a{
	color:#495863;
}
.article, .cnt-img{
	float:right;
	width:940px;
}
.cnt-img{
	border: 1px solid black;
	text-align: center;
	line-height: 525px;
	height:525px;
	margin-bottom:20px;
}
.cnt-img img{
	vertical-align: middle;
	width:320px;
	-moz-transition: all 0.5s  ease-out;
	-o-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}
.cnt-img img:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
}
.article p{
	font-size:16px;
	padding:0px 40px 20px 40px;
}
.main{
	margin:auto;
	width:1280px;
}
.footer{
	font-size:20px;
	clear:both;
	padding:0px;
	width:1280px;
	height:70px;
	line-height:70px;
	background-color:#b4b7ba;
}
.menu-bottom{
	font-size:20px;
	float:left;
	margin:auto;
	padding:0px 0px 20px 0px;
}
.copyright{
	font-size:20px;
	margin:auto;
	float:right;
	padding-right:40px;
}
.menu-bottom li a{
	line-height:70px;
	margin:0px 0px 0px 40px;
	padding:5px 0px;
	text-decoration: none;
	font-family: sans-serif;
	color: white;
}
.menu-bottom li a{
	color: black;
}
.menu-bottom li a:hover{
	color: #3181a6;
	border-bottom:1px solid #3181a6;
}
.menu-bottom li{
	display:inline-block;
}
